<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Howzat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Howzat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb127323253930</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.378084934266-09q3qurpihvc712m57ktasrmtb83n9vm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>howzatfantasy</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>127323253930</string>
	<key>FacebookDisplayName</key>
	<string>Howzat</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Howzat would like to access your calender to select your DOB</string>
	<key>NSCameraUsageDescription</key>
	<string>Howzat requires access to the camera to upload Identity document  </string>
	<key>NSContactsUsageDescription</key>
	<string>Howzat would like to access your contacts for faster google login</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Howzat would like to access your location as the app is available for Indian market only.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Howzat would like to access your location as the app is available for Indian market only.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Howzat would like to access your location as the app is available for Indian market only.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading videos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Howzat requires access to the Photo Library to upload Identity document  </string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>HowzatLaunchScreen</string>
	<key>UILaunchStoryboardName~ipad</key>
	<string>IpadLaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WEGLicenseCode</key>
	<string>~47b65866</string>
	<key>branch_key</key>
	<string>key_live_fcThXLB3cqKAk6wR35qlEoloysgsneDn</string>
	<key>branch_app_domain</key>
	<string>11zy.app.link</string>
    <key>branch_universal_link_domains</key>
    <array>
        <string>11zy.app.link</string>
        <string>hwzt.in</string>
        <string>11zy-alternate.app.link</string>
        <string>howzat.com</string>
    </array>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true/>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
</dict>
</plist>
